.add-edit-movie-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-edit-movie__form{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.add-edit-movie__label{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  color: #00838f;
  margin-bottom: 3px;
  margin-top: 30px;
}

.add-edit-movie__title{
  font-size: 2rem;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.20);
  color: #333;
}

.add-edit-movie__rating-input{
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 15px;
  outline: none;
  background-color: rgba(0,0,0,0.1);
  transition: background-color 0.2s linear;
}
.add-edit-movie__rating-input:hover{
  background-color: rgba(0,0,0,0.2);
}
.add-edit-movie__rating-input:focus{
  background-color: rgba(0,0,0,0.2);
}
.add-edit-movie__rating-input::-ms-fill-lower{
  background-color: black;
}
.add-edit-movie__rating-input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00838f;
  cursor: pointer;
}
.add-edit-movie__rating-input::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00838f;
  cursor: pointer;
}
.add-edit-movie__description{
  resize: none;
  font-size: 2rem;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.20);
  color: #333;
}
.add-edit-movie__director{
  font-size: 2rem;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.20);
  color: #333;
}
.add-edit-movie__rating{
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  color: #00838f;
}
.add-edit-movie__submit-btn{
  align-self: flex-end;
  font-size: 2rem;
  border: 0;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background: #00838f;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
}
.add-edit-movie__submit-btn:hover{
  background: #0097A7;
}
.add-edit-movie__error-text{
  position: absolute;
  bottom: -20px;
  font-size: 1.4rem;
  margin-left: 10px;
  color: #B71C1C;
  transform: translate(0, 0);
  animation: errorjump 0.2s;
}
@keyframes errorjump{
  50%{
    transform: translate(0, 3px);
  }
}
