*{
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #fafafa;
}
header{
  display: inline-block;
  height: 60px;
  width: 100%;
  background-color: #37474f;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 100;
}
nav{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 50px;
}
.nav__list{
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav__list-item{
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 100%;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;

}
.nav__link:hover{
  background-color: #455a64;
}
.nav__list .active{
  background-color: #455a64;
}
