
.movie-table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
.movie-table-container__no-movies{
  font-size: 2.4rem;
  margin-top: 20px;
}
.movie-table{
  min-width: 60%;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.movie-table tr{
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.20);
}
.movie-table__th{
  text-align: left;
  background-color: #37474f;
  color: #fff;
  font-size: 2rem;
  padding: 20px 5px 20px 10px;
}
.movie-table__th:first-child{
  border-radius: 5px 0 0 5px;
}
.movie-table__th:last-child{
  border-radius: 0 5px 5px 0;
}
.movie-table__td:first-child{
  border-radius: 5px 0 0 5px;
}
.movie-table__empty-td:last-child{
  border-radius: 0 5px 5px 0;
}
.movie-table__td{
  font-size: 2rem;
  padding: 20px 10px 20px 10px;
  background: #fff;
  color: #333;
}
.movie-table__icon-td{
  width: 70px;
  background: #fff;
}
.movie-table__link{
  font-size: 2rem;
  color: #006064;
  text-decoration: none;
}
.movie-table__link:hover{
  color:#00838f;
}
.movie-table__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px 0 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-decoration: none;
}

.movie-table__btn-edit{
  background: #1B5E20;
}
.movie-table__btn-edit:hover{
  background: #2E7D32;
}
.movie-table__btn-delete{
  background: #B71C1C;
}
.movie-table__btn-delete:hover{
  background: #C62828;
}
